<h1>Search Flickr images</h1>

<%= form_with url: "/", method: :get do |form| %>
  <%= form.label :user_id, "Search for Flickr user id:" %>
  <%= form.text_field :user_id %>
  <%= form.submit "Search" %>
<% end %>

<% if @photos %>
  <% if @photos.size.zero? %>
    <h4 class="mt-3">No public photos for that id</h4>
  <% else %>
    <h4 class="mt-3">Photos from Flickr id <%= @user_id %></h4>
  <% end %>

  <div class="photos d-flex flex-column align-items-center">
    <% @photos.each do |photo| %>
      <div class="image mb-3">
        <%= image_tag photo %>
      </div>
    <% end %>
  </div>
<% end %>

<% if @error %>
  <p class="text-warning"><%= @error %></p>
<% end %>
